<div class="relative overflow-hidden py-[50px] min-h-[400px]">
    <div class="container">
        <div class="text-center">
            <div class="relative inline-block">
                <h1 class="font-extrabold text-[28px]">كيف يعمل عقدي</h1>
                <img src="/assets/img/shap.png" alt="" class="absolute top-[-10px] left-[-45px]">
            </div>
            <p class="text-[#006EEF] mt-4">إنشاء العقد يمثل تجربة بسيطة وميسرة مع عقدي، حيث يمكنك إنجازه بسهولة ويسر</p>
        </div>
    </div>
</div>