<div class="container relative py-[50px] top-[-100px]" data-aos="zoom-in" data-aos-offset="250" data-aos-easing="ease-in-sine" data-aos-duration="1000">
    <div class="bg-gradient-to-r from-[#18AB00]/[.7] to-[#006EEF]/[.7] rounded-2xl px-[100px] h-[400px] md:h-auto md:p-[20px]">
        <div class="grid items-center justify-center lg:grid-cols-1 grid-cols-2 relative h-[100%]">
            <div class="h-[100%] flex flex-col items-center justify-center">
                <div class="px-2 text-center">
                    <h6 class="text-white font-extrabold text-[32px] md:text-[20px]">إنطلق نحو مستقبل العقود الأن !</h6>
                    <p class="text-white text-[15px] mt-6">حمل التطبيق الأن واستمتع بتجربة أكثر سلاسة وفعالية</p>
                </div>
                <div class="flex items-center justify-center pt-[70px]">
                    <a href="" class="mx-2 inline-block transition duration-700 ease-in-out hover:scale-[0.9]"><img class="max-w-[200px] lg:max-w-[100%]" src="./assets/img/google-play.png" alt=""></a>
                    <a href="" class="mx-2 inline-block transition duration-700 ease-in-out hover:scale-[0.9]"><img class="max-w-[200px] lg:max-w-[100%]" src="./assets/img/app_store.png" alt=""></a>
                </div>
            </div>
            <div class="mx-2 absolute top-[-60px] left-[0px] lg:hidden"><img src="./assets/img/ip.png" alt=""></div>
        </div>
    </div>
</div>