<header class="p-[37px] bg-[#006EEF]" data-aos="fade-in"
                    data-aos-offset="200"
                    data-aos-delay="50"
                    data-aos-duration="1000">
    <div class="container">
        <div class="grid items-center justify-between md:grid-cols-1 lg:grid-cols-3">
            <div class="">
                <ul class="flex items-center">
                    <li class="text-white me-4">الرئيسية</li>
                    <li class="text-white me-4">من نحن</li>
                    <li class="text-white me-4">كيف يعمل عقدي</li>
                </ul>
            </div>
            <div class="text-center">
                <a href="" class="font-extrabold text-white text-[25px]">Logo</a>
            </div>
            <div class="">
                <ul class="flex items-center justify-end">
                    <li><a href="" class="transform transition text-white border border-white rounded-md px-[20px] py-[6px] text-[14px] me-5 duration-500 hover:scale-125">دخول الشركات</a></li>
                    <li><a href="" class="bg-white rounded-md px-[20px] py-[6px] text-[14px]">حمل التطبيق</a></li>
                </ul>
            </div>
        </div>        
    </div>
</header>
