<header class="p-[37px] bg-[#006EEF] lg:p-[10px] sm:p-[20px]">
    <div class="container relative z-30">
        <div class="grid items-center justify-between grid-cols-3 md:justify-center md:grid-cols-1">
            <div class="">
                <ul class="flex items-center lg:justify-center">
                    <li class="text-white me-8 md:mx-4 lg:text-[11px] sm:text-[11px] cursor-pointer" (click)="goDown('Home')">الرئيسية</li>
                    <li class="text-white me-8 md:mx-4 lg:text-[11px] sm:text-[11px] cursor-pointer" (click)="goDown('About')">من نحن</li>
                    <li class="text-white me-8 md:mx-4 lg:text-[11px] sm:text-[11px] cursor-pointer" (click)="goDown('HowTo')">كيف يعمل عقدي</li>
                </ul>
            </div>
            <div class="text-center lg:my-4">
                <a href="" class="font-extrabold text-white text-[35px]">Logo</a>
            </div>
            <div class="">
                <ul class="flex items-center justify-end md:justify-center">
                    <li><a href="" class="transition duration-700 ease-in-out hover:scale-[0.9] hover:bg-white hover:text-black inline-block text-white border border-white rounded-md px-[20px] py-[9px] text-[14px] me-5 font-light lg:text-[11px] sm:text-[11px]">دخول الشركات</a></li>
                    <li><a href="" class="transition duration-700 ease-in-out hover:scale-[0.9] hover:bg-transparent hover:text-white border border-white inline-block bg-white rounded-md px-[20px] py-[9px] text-[14px] font-extrabold lg:text-[11px] sm:text-[11px]">حمل التطبيق</a></li>
                </ul>
            </div>
        </div>        
    </div>
</header>
