<header class="p-[37px] bg-[#006EEF]">
    <div class="container relative z-10">
        <div class="grid items-center justify-between md:grid-cols-1 lg:grid-cols-3">
            <div class="">
                <ul class="flex items-center">
                    <li class="text-white me-8">الرئيسية</li>
                    <li class="text-white me-8">من نحن</li>
                    <li class="text-white me-8">كيف يعمل عقدي</li>
                </ul>
            </div>
            <div class="text-center">
                <a href="" class="font-extrabold text-white text-[35px]">Logo</a>
            </div>
            <div class="">
                <ul class="flex items-center justify-end">
                    <li><a href="" class="transition duration-700 ease-in-out hover:scale-[0.9] hover:bg-white hover:text-black inline-block text-white border border-white rounded-md px-[20px] py-[9px] text-[14px] me-5 font-light">دخول الشركات</a></li>
                    <li><a href="" class="transition duration-700 ease-in-out hover:scale-[0.9] hover:bg-transparent hover:text-white border border-white inline-block bg-white rounded-md px-[20px] py-[9px] text-[14px] font-extrabold">حمل التطبيق</a></li>
                </ul>
            </div>
        </div>        
    </div>
</header>
