<div class="relative top-[-140px] lg:top-[-55px] overflow-hidden py-[50px] min-h-[400px]" id="HowTo">
    <div class="container">
        <div class="text-center">
            <div class="relative inline-block">
                <h1 class="font-extrabold text-[28px] sm:text-[19px]">كيف يعمل عقدي</h1>
                <img src="/assets/img/shap.png" alt="" class="absolute top-[-10px] left-[-45px] sm:max-w-[30px]">
            </div>
            <p class="text-[#006EEF] mt-4">إنشاء العقد يمثل تجربة بسيطة وميسرة مع عقدي، حيث يمكنك إنجازه بسهولة ويسر</p>
        </div>
        <div class="pt-[100px]">
            <div class="flex items-center mb-[30px] md:mb-[60px] md:flex-col">
                <div class="bg-[#E8F7E5] border-2 border-[#18AB00] w-[140px] h-[140px] relative flex items-center justify-center rounded-full" data-aos="fade-in" data-aos-offset="300" data-aos-easing="ease-in-sine" data-aos-duration="1000">
                    <img src="/assets/img/v7.png" alt="">
                    <span class="bg-[#18AB00] w-[20px] h-[20px] rounded-full flex items-center justify-center absolute bottom-[-10px] right-0 left-0 m-auto text-white text-[13px] font-bold">1</span>
                </div>
                <div class="overflow-hidden">
                    <div class="px-5 max-w-[260px] md:max-w-[100%] md:mt-5 md:text-center" data-aos="fade-left" data-aos-offset="300" data-aos-easing="ease-in-sine" data-aos-duration="1000">
                        <h5 class="font-bold">تسجيل الدخول</h5>
                        <p class="text-[#808080] mt-3 text-[14px]">يتم تسجيل الدحول عن طريق النفاذ الوطني</p>
                    </div>
                </div>
            </div>
            <div class="md:hidden" data-aos="fade-in" data-aos-offset="300" data-aos-easing="ease-in-sine" data-aos-duration="1000"><img src="/assets/img/connector-line.png" alt="" class="transform w-[75.5%] scale-y-[-1.1] scale-x[1.1] ps-[67px]"></div>
            <div class="flex items-center mb-[15px] justify-end md:mb-[60px] md:flex-col">
                <div class="bg-[#E6EEFF] border-2 border-[#006EEF] w-[140px] h-[140px] relative flex items-center justify-center rounded-full" data-aos="fade-in" data-aos-offset="300" data-aos-easing="ease-in-sine" data-aos-duration="1000">
                    <img src="/assets/img/v2.png" alt="">
                    <span class="bg-[#006EEF] w-[20px] h-[20px] rounded-full flex items-center justify-center absolute bottom-[-10px] right-0 left-0 m-auto text-white text-[13px] font-bold">1</span>
                </div>
                <div class="overflow-hidden">
                    <div class="px-5 max-w-[260px] md:max-w-[100%] md:mt-5 md:text-center" data-aos="fade-left" data-aos-offset="300" data-aos-easing="ease-in-sine" data-aos-duration="1000">
                        <h5 class="font-bold">كتابة العقد أو إختيار العقد</h5>
                        <p class="text-[#808080] mt-3 text-[14px]">قم بملئ بيانات عقدك ومراجعته قبل إرسالة للطرف الأخر</p>
                    </div>
                </div>
            </div>
            <div class="md:hidden" data-aos="fade-in" data-aos-offset="300" data-aos-easing="ease-in-sine" data-aos-duration="1000"><img src="/assets/img/connector-line.png" alt="" class="transform w-[75.5%] ps-[67px]"></div>
            <div class="flex items-center mb-[30px] md:mb-[60px] md:flex-col">
                <div class="bg-[#E8F7E5] border-2 border-[#18AB00] w-[140px] h-[140px] relative flex items-center justify-center rounded-full" data-aos="fade-in" data-aos-offset="300" data-aos-easing="ease-in-sine" data-aos-duration="1000">
                    <img src="/assets/img/v1.png" alt="">
                    <span class="bg-[#18AB00] w-[20px] h-[20px] rounded-full flex items-center justify-center absolute bottom-[-10px] right-0 left-0 m-auto text-white text-[13px] font-bold">1</span>
                </div>
                <div class="overflow-hidden">
                    <div class="px-5 max-w-[260px] md:max-w-[100%] md:mt-5 md:text-center" data-aos="fade-left" data-aos-offset="300" data-aos-easing="ease-in-sine" data-aos-duration="1000">
                        <h5 class="font-bold">إبرام العقد</h5>
                        <p class="text-[#808080] mt-3 text-[14px]">بمجرد تأكيد الطرف الأخر للعقد سيتم إصدار العقد بصيغتة النهائية لكم جميعا</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>