<footer>
    <div class="container">
        <div class="grid items-center justify-between md:grid-cols-1 lg:grid-cols-3">
            <div class="">
                <a href="" class="font-extrabold text-[#006EEF] text-[35px] inline-block">Logo</a>
                <p class="text-[15px] text-[#808080] my-4 max-w-[300px] font-medium">هذا النص مثال علي الكلام المكتوب في هذه المنطقة ولا يمثل اي محتوي حقيقي, هذا النص مثال علي</p>
                <ul class="flex items-center mt-6">
                    <li class="me-4"><a href="" class="inline-block transition duration-700 ease-in-out hover:scale-[0.9]"><img src="/assets/img/facebook.png"/></a></li>
                    <li class="me-4"><a href="" class="inline-block transition duration-700 ease-in-out hover:scale-[0.9]"><img src="/assets/img/instgram.png"/></a></li>
                    <li class="me-4"><a href="" class="inline-block transition duration-700 ease-in-out hover:scale-[0.9]"><img src="/assets/img/twitter.png"/></a></li>
                    <li class="me-4"><a href="" class="inline-block transition duration-700 ease-in-out hover:scale-[0.9]"><img src="/assets/img/email.png"/></a></li>
                </ul>
            </div>
            <div class="flex flex-col justify-self-center">
                <h5 class="font-bold">روابط هامة</h5>
                <ul class="flex items-center mt-5">
                    <li><a href="" class="text-[15px] text-[#808080] transition duration-700 ease-in-out hover:scale-[0.9] hover:text-[#006EEF] me-6 inline-block font-medium">دخول الشركات </a></li>
                    <li><a href="" class="text-[15px] text-[#808080] transition duration-700 ease-in-out hover:scale-[0.9] hover:text-[#006EEF] me-6 inline-block font-medium">الشروط والأحكام</a></li>
                </ul>
            </div>
            <div class="flex flex-col justify-self-end">
                <h5 class="font-bold">طرق الدفع</h5>
                <ul class="flex items-center mt-5">
                    <li><a href="" class="me-4 inline-block transition duration-700 ease-in-out hover:scale-[0.9]"><img src="/assets/img/pay.png"/></a></li>
                    <li><a href="" class="me-4 inline-block transition duration-700 ease-in-out hover:scale-[0.9]"><img src="/assets/img/visa-master.png"/></a></li>
                </ul>
            </div>
        </div>
        <div class="py-7 text-center border-t mt-9">
            <p class="m-0 font-medium">جميع الحقوقة محفوظة لدي تطبيق عقدي</p>
        </div>
    </div>
</footer>