<div class="relative overflow-hidden py-[80px] min-h-[700px]">
    <img src="/assets/img/line.png" alt="" class="absolute top-[0px] right-[-30px]">
    <div class="container">
        <div class="text-center">
            <div class="relative inline-block">
                <h1 class="font-extrabold text-[28px]">من نحن</h1>
                <img src="/assets/img/shap.png" alt="" class="absolute top-[-10px] left-[-45px]">
            </div>
            <p class="text-[#006EEF] mt-4">منصة سعودية تهدف إلى تسهيل عمليات إنشاء وتنفيذ العقود</p>
        </div>
        <div class="grid items-center justify-between md:grid-cols-1 lg:grid-cols-3 relative z-10 pt-9">
            <div class="bg-white rounded-lg p-[40px] my-5 mx-4 text-center">
                <img src="/assets/img/v6.png" alt="" class="m-auto">
                <h4 class="font-bold text-[16px] my-3">صحة ودقة المعلومات المقدمة</h4>
                <p class="text-[#808080] max-w-[290px] text-[15px] m-auto">جميع المعلومات مضمونه ومقدمه من النفاذ الوطني</p>
            </div>
            <div class="bg-white rounded-lg p-[40px] my-5 mx-4 text-center">
                <img src="/assets/img/v4.png" alt="" class="m-auto">
                <h4 class="font-bold text-[16px] my-3">قوالب جاهزه لكل ما تحتاجه</h4>
                <p class="text-[#808080] max-w-[290px] text-[15px] m-auto">مما يساعد المستخدمين على إكمال عملياتهم بسرعة وسهولة</p>
            </div>
            <div class="bg-white rounded-lg p-[40px] my-5 mx-4 text-center">
                <img src="/assets/img/v3.png" alt="" class="m-auto">
                <h4 class="font-bold text-[16px] my-3">كافة الطرق لإنشاء عقودك متاحة</h4>
                <p class="text-[#808080] max-w-[290px] text-[15px] m-auto">امكانية تنسيق عقودك بنقسك عن طريق التطبيق او رفع عقد جاهز</p>
            </div>
        </div>
    </div>
</div>